@import "@/assets/common/var.scss";
@import "@/assets/common/mixins.scss";

@include b(col) {
    padding: 12px 0;

    @at-root {
        @for $i from 0 through 24 {
            .el-col-#{$i} {
                width: (1 / 24 * $i * 100) * 1%;
            }

            .el-col-offset-#{$i} {
                margin-left: (1 / 24 * $i * 100) * 1%;
            }

            .el-col-push-#{$i} {
                position: relative;
                left: (1 / 24 * $i * 100) * 1%;
            }

            .el-col-pull-#{$i} {
                position: relative;
                right: (1 / 24 * $i * 100) * 1%;
            }
        }
    }
}